.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}
.item {
  height: 60px;
  float: left;
  width: 300px;
  margin-top: 10px;
  border-style: solid;
}
.btn {
  margin-top: 10px;
  background-color: aqua;
  height: 30px;
  width: 305px;
  border-radius: 5px;
}
